body{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

#main-content {
    height: 80%;
    aspect-ratio: 1/1;

    display: grid;
    grid-template-rows: repeat(8, 1fr);

    background-color: black;
    border: 5px solid black;
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.col {
    height: 100%;
}

.active-start,
.active-end {
    text-align: center;
    color: teal;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-start img {
    max-height: 80%;
    max-width: 80%;
}